.collection.__grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: -1rem;
  > .item {
    flex: none;
    display: inherit;
    align-items: stretch;
    padding: 1rem;
    width: 25%;
    @include responsive-prop(
      width,
      (
        mobile: 50%,
        tablet: 33.3333%,
        laptop: 25%,
      )
    );
  }
}

.collection--coach {
  border-radius: 3px;
  box-shadow: $display-card-shadow;

  &-title {
    margin-bottom: 0.125em;
  }
  &-heading {
    margin-bottom: 0.75rem;
  }

  &-image {
    height: auto;
    justify-self: start;
    align-self: stretch;
  }
  &-content {
    font-size: 0.875em;
    padding: 0.75rem;
  }
  &-link {
    margin-top: 0.5em;
    color: $primary !important;
  }
}

.collection.__timeline {
}

.collection--course {
  padding: 3rem 0;
  font-family: $primary-font-family;

  &-content {
    position: relative;
    z-index: 5;
    color: white;
    max-width: 24rem;
  }
  &-title {
    font-size: 2em;
    font-weight: 800;
  }
  &-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    box-shadow: inset 0 0 30px 10px #0303034d;
  }
}
