.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  align-items: center;

  > .field {
    flex: 1 1 18rem;
    @include untilTablet {
      flex-basis: 100%;
      margin-bottom: 0.25rem;
    }
  }
}
