.reel {
  min-height: inherit;

  &--container {
    overflow: hidden;
    height: auto;
    min-height: inherit;
  }

  &--wrapper {
    min-height: inherit;
    display: flex;
    height: 100%;
    transition: transform 0.23s;
  }
  &--button {
    position: absolute;
    z-index: 1;
    top: 50%;

    background-color: transparentize($white, 0.35);
    border-radius: 999px;
    &.__next {
      right: 0rem;
      transform: translate(-.75rem, 50%);
    }
    &.__prev {
      left: 0rem;
      transform: translate(.75rem, 50%);
    }
  }
}
