.cover {
  background-position: center;
  background-size: cover;
  min-height: 40vh;
  padding: 3rem 0;

  &--preview {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    max-width: 30rem;
    width: 50%;
    min-width: 10rem;
  }

  &--label {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
  }

  &--wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &--title {
    width: 33.3333%;
    min-width: 240px;
  }

  &--box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33.3333%;
    min-width: 320px;

    z-index: 1;

    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;

    transform: translateY(40%);

    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 2px 8px transparentize(black, 0.75);
  }
  @include mobileOnly {
    padding-bottom: 5rem;
    &--box {
      position: unset;
      flex: 1 1 240px;
      width: 100%;
      min-width: 240px !important;
      margin: 0 -0.5rem;
    }
    &--preview {
      width: 100%;
    }
  }
}
