@use "sass:meta";

.link,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: inherit;

  &::first-letter {
    text-transform: uppercase;
  }
  &:not(::first-letter) {
    text-transform: lowercase;
  }

  transition: all 0.32s ease-out;
  &:hover {
    transition: all 0.23s ease-in;
  }
  &:disabled {
    cursor: default;
  }

  $styles: primary $white $primary, secondary $white $secondary,
    service $gray-middle-dark $gray-middle-light,
    light $gray-middle-dark $gray-lighten, dark $white $gray-dark;

  @each $name, $color, $background in $styles {
    &.__type_filled,
    &.__type_rounded {
      &.__style_#{$name} {
        color: $color;
        background-color: $background;
        &:hover {
          background-color: darken($background, 2%);
        }
      }
    }
    &.__type_text {
      &.__style_#{$name} {
        color: $background;
        &:hover {
          color: darken($background, 2%);
        }
      }
    }
  }

  &.__type_filled,
  &.__type_rounded {
    color: $gray-middle-dark;
    background-color: $gray-light;
    font-weight: $button-weight;
    border-radius: $button-radius;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.25);
    &:hover {
      box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.25);
    }
    &:disabled {
      color: $gray-middle-light;
      background-color: $gray-middle-light;
    }
  }

  &.__type_text {
    font-weight: $button-weight;
    color: $gray-middle-dark;
    padding: 0 !important;
    &:disabled {
      color: $gray-middle-light;
    }
  }

  &.__type_rounded {
    border-radius: 999px;
  }

  $sizes: default 1em, small 0.75em, medium 1.125em, large 1.25em;
  @each $name, $size in $sizes {
    &.__type_rounded {
      &.__size_#{$name} {
        padding: $size * 0.375 $size * 1.125;
      }
    }
    &.__size_#{$name} {
      font-size: $size;
      padding: $size * 0.375 $size * 0.75;
      column-gap: $size * 0.375;
    }
  }
}

.dropdown {
  color: inherit;
  background-color: inherit;
  position: relative;
  font-size: 0.875rem;
  padding: 0.375rem 0.5rem;
  column-gap: 0.375rem;

  &--button {
    color: inherit;
    display: inline-flex;
    font-size: inherit;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  &--list {
    // font-size: 80%;
    font-weight: 600;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: transparentize(black, .85);
    // border-top: 1px solid $gray-light;
    transition: visibility 0s ease-out 0.23s, opacity 0.23s ease-out;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    display: flex;
    column-gap: 1rem;

    &.active {
      visibility: visible;
      opacity: 0.9;
      transition: opacity 0.23s ease-in 25ms;
    }
  }
  &--item {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    text-align: center;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }
}
