.collection.__grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: -1rem;
  > .item {
    flex: none;
    display: inherit;
    align-items: stretch;
    padding: 1rem;
    width: 25%;
    @include responsive-prop(
      width,
      (
        mobile: 50%,
        tablet: 33.3333%,
        laptop: 25%,
      )
    );
  }
}

.collection--coach {
  border-radius: 3px;
  box-shadow: $display-card-shadow;
  &-image {
    height: auto;
    justify-self: start;
    align-self: stretch;
  }
  &-content {
    font-size: .875em;
    padding: 0.75rem;
  }
  &-link {
    margin-top: .5em;
    color: $primary !important;
  }
}

.collection.__timeline {
}
