.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  min-height: inherit;

  &.__responsive {
    @include mobileOnly {
      max-width: calc(100% - 2rem);
    }
    @include fromTablet {
      max-width: calc(100% - 4rem);
    }
    @include fromLaptop {
      max-width: 996px;
    }
    @include fromDesktop {
      max-width: 1240px;
    }
    @include fromWidescreen {
      max-width: 1440px;
    }
  }
}