.rows,
.cols {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex: 1 1 0;
}

.cols {
  $alignments: start, center, end, stretch;
  @each $align in $alignments {
    &.__align_#{$align} {
      align-items: $align;
    }
  }

  $justifications: start, center, end, stretch;
  @each $justify in $justifications {
    &.__justify_#{$justify} {
      justify-content: $justify;
    }
  }
  @each $name, $gap in $display-gap {
    &.__#{$name} {
      margin: -$gap;
      @include responsive-prop(
        margin,
        (
          mobile: -0.5rem,
          tabletOnly: -1rem,
        )
      );
    }
  }

  > .col {
    position: relative;
    flex: 1 1 0;
    @include mobileOnly {
      flex: 1 0 $display-mobile-min-width !important;
    }

    &--action {
      min-width: fit-content;
    }

    @each $name, $size, $resize in $display-size {
      &.__#{$name} {
        flex: none;
        width: $size;
        @include untilTablet {
          @if $size < 50% {
            width: 50%;
          }
        }
      }
    }

    @each $name, $gap in $display-gap {
      &.__#{$name} {
        padding: $gap;
        @include responsive-prop(
          padding,
          (
            mobile: 0.5rem,
            tablet: 1rem,
          )
        );
      }
    }
  }
}

.rows {
  flex-direction: column;

  $alignments: start, center, end, stretch;
  @each $align in $alignments {
    &.__align_#{$align} {
      justify-content: $align;
    }
  }

  $justifications: start, center, end, stretch;
  @each $justify in $justifications {
    &.__justify_#{$justify} {
      align-items: $justify;
    }
  }

  @each $name, $gap in $display-gap {
    &.__#{$name} {
      position: relative;
      > *:not(:last-child) {
        margin-bottom: $gap;
        @include mobileOnly {
          margin-bottom: 0.5rem;
        }
        @include tabletOnly {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
