.display {
  position: relative;

  // Sizes
  flex: 1 1;
  @include mobileOnly {
    flex: 1 0 $display-mobile-min-width !important;
    > .media {
      order: 0;
    }
  }

  @each $name, $size, $resize in $display-size {
    &.__#{$name} {
      flex: none;
      width: $size;
      @include untilTablet {
        @if $size < 50% {
          width: 50%;
        }
      }
    }
  }

  @each $name, $gap in $display-gap {
    &.__#{$name} {
      margin-left: -$gap;
      margin-right: -$gap;
      row-gap: calc($gap / 2);
      > .text,
      > .display,
      > .media {
        padding-right: $gap;
        padding-left: $gap;
      }
      > .action {
        margin-right: $gap;
        margin-left: $gap;
      }
    }
  }

  > .text,
  > .media {
    flex: 1 1;
  }

  // Directions
  $display-type: (
    row: row,
    col: column,
    card: column,
    slide: row,
  );
  @each $label, $type in $display-type {
    &.__#{$label} {
      display: flex;
      flex-wrap: wrap;
      flex-direction: $type;
    }
  }

  &.__card {
    background-color: $white;
    border-radius: 3px;
    color: $gray-darken;
    overflow: hidden;
    box-shadow: $display-card-shadow;
    margin: 0.75rem;

    & > .display {
      width: 100%;
      padding: 0 0.75rem;
      &:first-child {
        padding-top: 0.75rem;
      }
      &:last-child {
        padding-bottom: 0.75rem;
      }
    }
  }

  &.__slide {
  }

  // Alignements and justifications
  $alignments: start, center, end, stretch;
  @each $align in $alignments {
    &.__align_#{$align} {
      align-items: $align;
    }
    &.__col,
    &.__card {
      &.__align_#{$align} {
        justify-content: $align;
      }
    }
  }

  $justifications: start, center, end, stretch;
  @each $justify in $justifications {
    &.__justify_#{$justify} {
      justify-content: $justify;
    }
    &.__col,
    &.__card {
      &.__justify_#{$justify} {
        align-items: $justify;
      }
    }
  }
  &.__col,
  &.__card {
    & > .display {
      @include untilTablet {
        flex: 1 0 auto;
        width: 100% !important;
      }
    }
  }
}

.display__responsive {
}
