.display {
  position: relative;

  // Sizes
  flex: 1 1;
  @extend .display__responsive;

  &.__sized {
    flex: none;
    @extend .display__responsive;
  }

  // Directions
  $display-type: (
    row: row,
    col: column,
    card: column,
    slide: row,
  );
  @each $label, $type in $display-type {
    &.__#{$label} {
      display: flex;
      flex-wrap: wrap;
      flex-direction: $type;
    }
  }

  &.__card {
    background-color: $white;
    border-radius: 3px;
    color: $gray-darken;
    overflow: hidden;
    box-shadow: $display-card-shadow;
    margin: 0.75rem;

    & > .display {
      width: 100%;
      padding: 0 0.75rem;
      &:first-child {
        padding-top: 0.75rem;
      }
      &:last-child {
        padding-bottom: 0.75rem;
      }
    }
  }

  &.__slide {

  }

  // Alignements and justifications
  $alignments: start, center, end, stretch;
  @each $align in $alignments {
    &.__align_#{$align} {
      align-items: $align;
    }
    &.__col,
    &.__card {
      &.__align_#{$align} {
        justify-content: $align;
      }
    }
  }

  $justifications: start, center, end, stretch;
  @each $justify in $justifications {
    &.__justify_#{$justify} {
      justify-content: $justify;
    }
    &.__col,
    &.__card {
      &.__justify_#{$justify} {
        align-items: $justify;
      }
    }
  }
  &.__col,
  &.__card {
    & > .display {
      @include untilTablet {
        flex: 1 0 auto;
        width: 100% !important;
      }
    }
  }
}

.display__responsive {
  @include mobileOnly {
    flex: 1 0 $display-mobile-min-width;
    width: 100% !important;
  }
  @include tabletOnly {
    flex: 1 0 $display-tablet-min-width;
    width: 100% !important;
  }
}
