.footer {
  &--head {
    flex: none;
    width: 25%;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
  }

  &--menu {
    padding: 1rem 0;
  }

  &--navs {
    flex-grow: 1;
  }

  $styles: primary $white $primary-dark, secondary $white $secondary-dark,
    dark $white $gray-middle-dark, light $gray-middle-dark $gray-lighten;

  @each $name, $color, $background in $styles {
    &.__#{$name} {
      .footer--menu {
        color: $color;
        background-color: $background;
      }
    }
  }
  &--copyright {
    font-size: .75rem;
    padding: 1rem 0;
    color: $gray-middle-light;
    background-color: $gray-darken;
    a {
      color: $white;
    }
  }
}
