@font-face {
  font-family: "#{$social-family}";
  src: url("../#{$social-icon-path}/#{$social-family}.ttf?rfkhc7")
      format("truetype"),
    url("../#{$social-icon-path}/#{$social-family}.woff?rfkhc7") format("woff"),
    url("../#{$social-icon-path}/#{$social-family}.svg?rfkhc7##{$social-family}")
      format("svg");
}

.icon {
  color: inherit;
  font-family: $icon-family;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";

  height: $icon-size-default;
  width: $icon-size-default;
  font-size: $icon-size-default * 1.25;

  @each $name, $size in $icon-size {
    &.__#{$name} {
      font-size: $size * 1.25;
      height: $size;
      width: $size;
    }
  }
  @each $name, $style in $icon-style {
    &.__#{$name} {
      color: $style;
    }
  }

  &.social {
    font-family: $social-family;

    @each $social, $code in $social-icons {
      &_#{$social} {
        &:before {
          content: $code;
        }
      }
    }
  }
}
