.icon {
  color: inherit;
  font-family: $icon-family;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: $icon-size-default;
  width: $icon-size-default;
  font-size: $icon-size-default * 1.25;

  @each $name, $size in $icon-size {
    &.__#{$name} {
      font-size: $size * 1.25;
      height: $size;
      width: $size;
    }
  }
  @each $name, $style in $icon-style {
    &.__#{$name} {
      color: $style;
    }
  }
  @each $name, $code in $icon-name {
    &.icon--#{$name} {
      &:before {
        content: $code;
      }
    }
  }
}