@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

// Fonts families
$primary-font-family: "Open Sans", serif;
$secondary-font-family: $primary-font-family;
$icon-family: "icon-basic-set";

// Imports
@import "./variables.scss";
@import "./mediaquery.scss";
@import "./typography.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./container.scss";
@import "./section.scss";
@import "./flow.scss";
@import "./media.scss";
@import "./button.scss";

// Base unit
$base-unit: 16px;

// Global styles
html {
  font-family: $primary-font-family;
  font-size: $base-unit;
  background-color: $default-background;
  color: $default-color;

  @include fromTablet {
    font-size: $base-unit + 1px;
  }
  @include fromLaptop {
    font-size: $base-unit + 2px;
  }
  @include fromDesktop {
    font-size: $base-unit + 3px;
  }
  @include fromWidescreen {
    font-size: $base-unit + 4px;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  &::-webkit-scrollbar {
    width: 2px;
    background-color: $gray-darken;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray-dark;
  }
  scrollbar-color: $gray-dark $gray-darken;
  scrollbar-width: thin;

  font-size: $default-size;
  font-weight: $default-weight;
  line-height: $default-line;
  letter-spacing: $default-spacing;
}

a {
  text-decoration: none;
}
select,
button,
input,
textarea {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
}
button {
  background-color: transparent;
}
input::-ms-expand {
  display: none;
}
textarea {
  resize: vertical;
  min-height: 3rem;
}
a,
button,
select,
input,
textarea {
  cursor: pointer;
}
main {
  min-height: calc(100vh - $header-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
q {
  margin: 0;
}

div {
  box-sizing: border-box;
}
