// Fonts families
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600;700&display=swap");
// Icon font
$icon-family: "icon" !default;
$icon-path: "fonts/icon" !default;
@font-face {
  font-family: "#{$icon-family}";
  src: url("../#{$icon-path}/#{$icon-family}.eot?jujil1");
  src: url("../#{$icon-path}/#{$icon-family}.eot?jujil1#iefix")
      format("embedded-opentype"),
    url("../#{$icon-path}/#{$icon-family}.ttf?jujil1") format("truetype"),
    url("../#{$icon-path}/#{$icon-family}.woff?jujil1") format("woff"),
    url("../#{$icon-path}/#{$icon-family}.svg?jujil1##{$icon-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// Imports
@import "./variables.scss";
@import "./mediaquery.scss";
@import "./mixin.scss";
@import "./helper.scss";
@import "./theme.scss";
@import "./text.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./container.scss";
@import "./cover.scss";
@import "./section.scss";
@import "./reel.scss";
@import "./collection.scss";
@import "./display.scss";
@import "./media.scss";
@import "./action.scss";
@import "./dropdown.scss";
@import "./icon.scss";

// Base unit
$base-unit: 15px;

// Global styles
html {
  font-family: $primary-font-family;
  font-size: $base-unit;
  background-color: $default-background;
  color: $default-color;

  @include fromTablet {
    font-size: $base-unit * 1.075;
  }
  @include fromLaptop {
    font-size: $base-unit * 1.125;
  }
  @include fromDesktop {
    font-size: $base-unit * 1.25;
  }
  @include fromWidescreen {
    font-size: $base-unit * 1.375;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  &::-webkit-scrollbar {
    width: 2px;
    background-color: $gray-darken;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray-dark;
  }
  scrollbar-color: $gray-dark $gray-darken;
  scrollbar-width: thin;

  font-size: $default-size;
  font-weight: $default-weight;
  line-height: $default-line;
  letter-spacing: $default-spacing;

  position: relative;
}

a {
  text-decoration: none;
}
select,
button,
input,
textarea {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
}
button {
  background-color: transparent;
}
input::-ms-expand {
  display: none;
}
textarea {
  resize: vertical;
  min-height: 3rem;
}
a,
button,
select,
input,
textarea {
  cursor: pointer;
}

button {
  padding: 0;
  min-width: 2em;
  min-height: 2em;
}

main {
  min-height: calc(100vh - $header-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
q {
  margin-top: 0;
}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
ol {
  li::marker {
    font-size: 80%;
    line-height: 1;
    opacity: 0.5;
  }
}

hr {
  margin: 0.75rem 0.25rem;
}

code {
  font-size: 90%;
  display: block;
  padding: 0.5em 0.75em;
  margin: 1rem 1.5rem;
  background-color: $gray-lighten;
}

blockquote {
  margin: 3rem 1rem;
  text-align: center;
  p {
    position: relative;
    display: inline-blok;
    max-width: 80%;
    margin: 0 auto;

    &::before,
    &::after {
      position: absolute;
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 0;
    }
    &::before {
      top: -0.5rem;
      left: -1.5rem;
      content: "\201D";
    }
    &::after {
      bottom: -2rem;
      right: -1.5rem;
      content: "\201C";
    }
  }
}
