.section {
  display: flex;
  position: relative;
  // Space prop
  padding: $section-spacing-default 0;

  @each $label, $space in $section-spacing {
    &.__space_#{$label} {
      padding: $space 0;
    }
    &.__space_#{$label} .section--wrapper > .display:not(:last-child) {
      margin-bottom: $space * 0.75;
    }
  }
  // Height prop
  min-height: auto;
  @each $label, $height in $section-height {
    &.__height_#{$label} {
      min-height: calc(($height * 1vh) - $header-height);
    }
  }

  &--wrapper {
    min-height: inherit;
    > .display {
      min-height: inherit;
      &:not(:last-child) {
        margin-bottom: $section-spacing-default * 0.75;
      }
    }
  }

  &.__has_background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  $x-positions: top, center, bottom;
  @each $pos in $x-positions {
    &.__#{$pos}_x {
      background-position-x: $pos;
    }
  }

  $y-positions: right, center, left;
  @each $pos in $y-positions {
    &.__#{$pos}_x {
      background-position-y: $pos;
    }
  }

  $styles: primary $white $primary-light, secondary $white $secondary-light,
    dark $white $gray-dark, light $gray-darken $gray-lighten;

  @each $name, $color, $background in $styles {
    &.__#{$name} {
      color: $color;
      background-color: $background;
    }
  }
}
