.section {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: $section-index;

  // Space prop
  padding: $section-spacing-default 0;

  // Height prop
  @each $label, $height in $section-height {
    &.__height_#{$label} {
      min-height: calc(($height * 1vh) - $header-height);
      .container > .columns {
        min-height: inherit;
      }
    }
  }

  .container {
    > *:not(:last-child) {
      position: unset !important;
      &:not(:last-child) {
        margin-bottom: $section-spacing-default * 0.75;
      }
    }
  }

  @each $label, $space in $section-spacing {
    &.__space_#{$label} {
      padding: $space 0;
    }
    &.__space_#{$label} .container > *:not(:last-child) {
      margin-bottom: $space * 0.75;
    }
  }

  $styles: primary $white $primary-light, secondary $white $secondary-light,
    dark $white $gray-dark, light $gray-darken $gray-lighten;

  @each $name, $color, $background in $styles {
    &.__#{$name} {
      color: $color;
      background-color: $background;
    }
  }
}
