@use "sass:map";
$style-primary: (
  title-color: $primary,
  title-link-color: $primary-dark,
  subtititle-color: $primary,
  subtitle-link-color: $primary-dark,
  link-color: $primary,
  paragraph-color: $gray-dark,

);

$style: (
  primary: $style-primary,
  // secondary: $style-secondary,
  // dark: $style-dark,
  // light: $style-dark,
);
@each $style in $styles {
  
}
.style {

  &__primary {
    h1,
    h2,
    h3 {
      color: $primary;
      a {

      }
    }
    h4,
    h5,
    h6 {
      a {

      }
    }
    a {
    }
    p {
    }

    b {
    }
    hr {

    }
    ul {

      li {

      }
    }
    ol {
      li {

      }
    }
    code {

    }
    blockquote {

    }

  }
}
