@use "sass:map";

@mixin fontStyle($style) {
  font-family: map-get($style, "family");
  font-size: map-get($style, "size");
  font-weight: map-get($style, "weight");
  line-height: map-get($style, "line");
  letter-spacing: map-get($style, "space");
  margin-bottom: map-get($style, "margin");
  @if (map-get($style, "mobile-size")) {
    @include mobileOnly {
      font-size: map-get($style, "mobile-size");
    }
  }
}
// title
h1 {
  @include fontStyle($h1-style);
}
h2 {
  @include fontStyle($h2-style);
}
h3 {
  @include fontStyle($h3-style);
}
// subtitle
h4 {
  @include fontStyle($h4-style);
}
h5 {
  @include fontStyle($h5-style);
}
h6 {
  @include fontStyle($h6-style);
}
// lists

// others tags
p {
  @include fontStyle($paragraph-style);
}
small {
  @include fontStyle($small-style);
}
blockquote > p {
  @include fontStyle($quote-style);
}

.text {
  $alignments: left, right, center;
  @each $align in $alignments {
    &.align__#{$align} {
      text-align: $align;
    }
  }
}
