@use "sass:map";

$themes: (
  primary: $theme-primary,
  secondary: $theme-secondary,
  dark: $theme-dark,
  light: $theme-light,
  primary_background: $theme-background-primary,
  secondary_background: $theme-background-secondary,
  dark_background: $theme-background-dark,
);

@each $name, $theme in $themes {
  .__theme_#{$name} {
    background-color: map-get($theme, "background-color");
    h1,
    h2,
    h3 {
      color: map-get($theme, "title-color");
    }
    h4,
    h5,
    h6 {
      color: map-get($theme, "subtititle-color");
    }
    a {
      color: map-get($theme, "link-color");
    }
    p, li {
      color: map-get($theme, "paragraph-color");
    }
    b {
      color: map-get($theme, "paragraph-color");
    }
  }
}
