// Breakpoints
$break-mobile: 428px;
$break-tablet: 1024px;
$break-laptop: 1366px;
$break-desktop: 1920px;

// Colors
$primary: #2c264c;
$primary-dark: adjust_hue(desaturate(darken($primary, 8), 8), 14);
$primary-darken: adjust_hue(desaturate(darken($primary, 16), 16), 14);
$primary-light: desaturate(lighten($primary, 8), 4);
$primary-lighten: adjust_hue(desaturate(lighten($primary, 71), 21), 14);

$secondary: #15979e;
$secondary-dark: adjust_hue(desaturate(darken($secondary, 8), 8), 14);
$secondary-darken: adjust_hue(desaturate(darken($secondary, 16), 16), 14);
$secondary-light: desaturate(lighten($secondary, 8), 4);
$secondary-lighten: adjust_hue(desaturate(lighten($secondary, 59), 48), 14);

$white: #fff;
$black: #000;
$gray-darken: #353538;
$gray-dark: #525252;
$gray-middle-dark: #414143;
$gray-middle: #58585a;
$gray-middle-light: #9a9a9c;
$gray-light: #e0e0e1;
$gray-lighten: #f7f7f8;

$error-light: #f0c4c1;
$error: #f36259;
$error-dark: #f36259;
$success-light: #b7e0c3;
$success: #63ce81;
$success-dark: #3eba61;
$alert-light: #fce6bb;
$alert: #f7c35e;
$alert-dark: #f1b43d;
$info-light: #c6e0ee;
$info: #73bae2;
$info-dark: #539ec9;

// Default color
$default-background: $white;
$default-color: $gray-darken;

// Themes

$theme-primary: (
  background-color: inherit,
  title-color: $primary,
  title-link-color: $primary-dark,
  subtititle-color: $primary,
  subtitle-link-color: $primary-dark,
  link-color: $primary,
  paragraph-color: $gray-dark,
);
$theme-secondary: (
  background-color: inherit,
  title-color: $secondary,
  title-link-color: $secondary-dark,
  subtititle-color: $secondary,
  subtitle-link-color: $secondary-dark,
  link-color: $secondary,
  paragraph-color: $gray-dark,
);
$theme-dark: (
  background-color: inherit,
  title-color: $gray-darken,
  title-link-color: $gray-dark,
  subtititle-color: $gray-middle-dark,
  subtitle-link-color: $gray-middle,
  link-color: $gray-darken,
  paragraph-color: $gray-dark,
);
$theme-light: (
  background-color: inherit,
  title-color: $white,
  title-link-color: $gray-lighten,
  subtititle-color: $gray-light,
  subtitle-link-color: $gray-middle-light,
  link-color: $primary,
  paragraph-color: $gray-lighten,
);
$theme-background-primary: (
  background-color: $primary,
  title-color: $gray-lighten,
  title-link-color: $gray-light,
  subtititle-color: $gray-light,
  subtitle-link-color: $gray-middle-light,
  link-color: $white,
  paragraph-color: $gray-lighten,
);
$theme-background-secondary: (
  background-color: $secondary,
  title-color: $gray-lighten,
  title-link-color: $gray-light,
  subtititle-color: $gray-light,
  subtitle-link-color: $gray-middle-light,
  link-color: $white,
  paragraph-color: $gray-lighten,
);
$theme-background-dark: (
  background-color: $gray-darken,
  title-color: $gray-lighten,
  title-link-color: $gray-light,
  subtititle-color: $gray-light,
  subtitle-link-color: $gray-middle-light,
  link-color: $white,
  paragraph-color: $gray-lighten,
);

// Typhography
$primary-font-family: "Open Sans", sans-serif;
$secondary-font-family: "Roboto Mono", monospace;

// Default
$default-size: 1em;
$default-weight: 400;
$default-line: normal;
$default-spacing: normal;
$default-margin: 0;
// Heading titles
$h1-style: (
  family: $secondary-font-family,
  size: 4em,
  weight: 900,
  line: 1.1,
  spacing: -0.1rem,
  margin: 0.75rem,
  mobile-size: 2.5em,
);
$h2-style: (
  family: $secondary-font-family,
  size: 2.5em,
  weight: 800,
  line: 1.1,
  spacing: -0.05rem,
  margin: 0.75rem,
  mobile-size: 2.25em,
);
$h3-style: (
  family: $secondary-font-family,
  size: 2em,
  weight: 700,
  line: 1,
  spacing: normal,
  margin: 0.75rem,
);
// Heading subtitles
$h4-style: (
  family: $primary-font-family,
  size: 1.75em,
  weight: 700,
  line: 1,
  spacing: normal,
  margin: 1.5rem,
);
$h5-style: (
  family: $primary-font-family,
  size: 1.5em,
  weight: 600,
  line: normal,
  spacing: normal,
  margin: 1.125rem,
);
$h6-style: (
  family: $primary-font-family,
  size: 1.5em,
  weight: 600,
  line: normal,
  spacing: normal,
  margin: 1.125rem,
);
// Quote q
$quote-style: (
  family: $primary-font-family,
  size: 1.25em,
  weight: 600,
  line: 1.25,
  spacing: 0.05rem,
  margin: 1.125rem,
);
// Paragraph p
$paragraph-style: (
  family: $primary-font-family,
  size: 1em,
  weight: 400,
  line: normal,
  spacing: normal,
  margin: 0.875rem,
);
// Caption small
$small-style: (
  family: $secondary-font-family,
  size: 0.75em,
  weight: 400,
  line: 1.1,
  spacing: normal,
  margin: 0.5rem,
);

// columns
$columns_default_gap: 1em;
$columns_gaps: (
  none: 0,
  small: calc($columns_default_gap / 2),
  medium: calc($columns_default_gap * 1.5),
  large: calc($columns_default_gap * 3),
);

// action
$action-size-default: 1em;
$action-weight-default: 600;
$button-radius-default: 0.25rem;

$action-link-style-default: $gray-dark;
$action-button-style-default: (
  color: $white,
  background: $action-link-style-default,
);
$action-size: (
  small: 0.75em,
  medium: 1.125em,
  large: 1.25em,
);
$action-style: primary $white $primary, secondary $white $secondary,
  dark $white $gray-darken, light $gray-darken $white,
  service $gray-middle-dark $gray-lighten;

// Z axis
$section-index: 0;
$media-index: 5;
$column-index: 10;
$text-index: 15;
$dropdown-index: 40;
$header-index: 50;
$modal-index: 100;

// Header
$header-height: 4rem;

// Section
$section-spacing-default: 2rem;
$section-spacing: (
  none: 0,
  small: 1rem,
  mid: 4rem,
  large: 6rem,
);
$section-height: (
  none: 0,
  quarter: 25,
  oneThird: 33.3333,
  half: 50,
  twoThird: 66.6666,
  full: 100,
);

// Reel

// Display
$display-mobile-min-width: 240px;
$display-tablet-min-width: 320px;
$display-min-width: 120px;
$display-gap: (
  default: 0.75rem,
  small: 0.25rem,
  mid: 1.25rem,
  large: 1.5rem,
);
$display-size: (
  quarter: 25%,
  oneThird: 33.3333%,
  half: 50%,
  full: 100%,
);

$display-card-shadow: 0 2px 8px transparentize(black, 0.75);

// Icons
// Icon font
$icon-family: "Material Icons" !default;
$social-family: "social-icons" !default;
$social-icon-path: "fonts/social" !default;

$icon-size-default: 1rem;
$icon-size: (
  small: 0.75rem,
  mid: 1.5rem,
  large: 2rem,
  huge: 4rem,
);
$icon-style: (
  primary: $primary,
  secondary: $secondary,
  dark: $gray-darken,
  light: $white,
);

$social-icons: (
  google: "\ea89",
  facebook: "\ea91",
  instagram: "\ea92",
  whatsapp: "\ea93",
  spotify: "\ea94",
  telegram: "\ea95",
  twitter: "\ea96",
  rss: "\ea9c",
  youtube: "\ea9d",
  vimeo: "\eaa1",
  flickr: "\eaa5",
  behance: "\eaa9",
  steam: "\eaad",
  github: "\eab0",
  trello: "\eab3",
  tumblr: "\eaba",
  soundcloud: "\eac4",
  skype: "\eac5",
  linkedin: "\eac9",
  pinterest: "\ead1",
  git: "\eae7",
);
