// Breakpoints
$break-mobile: 428px;
$break-tablet: 1024px;
$break-laptop: 1366px;
$break-desktop: 1920px;

:export {
  breakMobile: $break-mobile;
  breakTablet: $break-tablet;
  breakLaptop: $break-laptop;
  breakDesktop: $break-desktop;
}

// Colors
$primary: #2c264c;
$primary-dark: adjust_hue(desaturate(darken($primary, 8), 8), 14);
$primary-darken: adjust_hue(desaturate(darken($primary, 16), 16), 14);
$primary-light: desaturate(lighten($primary, 8), 4);
$primary-lighten: adjust_hue(desaturate(lighten($primary, 71), 21), 14);

$secondary: #15979e;
$secondary-dark: adjust_hue(desaturate(darken($secondary, 8), 8), 14);
$secondary-darken: adjust_hue(desaturate(darken($secondary, 16), 16), 14);
$secondary-light: desaturate(lighten($secondary, 8), 4);
$secondary-lighten: adjust_hue(desaturate(lighten($secondary, 59), 48), 14);

$white: #fff;
$black: #000;
$gray-darken: #353538;
$gray-dark: #525252;
$gray-middle-dark: #414143;
$gray-middle: #58585a;
$gray-middle-light: #9a9a9c;
$gray-light: #e0e0e1;
$gray-lighten: #f7f7f8;

$error-light: #f0c4c1;
$error: #f36259;
$error-dark: #f36259;
$success-light: #b7e0c3;
$success: #63ce81;
$success-dark: #3eba61;
$alert-light: #fce6bb;
$alert: #f7c35e;
$alert-dark: #f1b43d;
$info-light: #c6e0ee;
$info: #73bae2;
$info-dark: #539ec9;

// Default color
$default-background: $white;
$default-color: $gray-darken;

// Typhography
$primary-font-family: "Open Sans", serif;
$secondary-font-family: $primary-font-family;
// Default
$default-size: 1rem;
$default-weight: 400;
$default-line: normal;
$default-spacing: normal;
$default-margin: 0;
// Heading titles
$h1-style: (
  family: $secondary-font-family,
  size: 3.125rem,
  weight: 900,
  line: 1.1,
  spacing: -0.05rem,
  margin: 0.75rem,
  mobile-size: 2.5rem,
);
$h2-style: (
  family: $secondary-font-family,
  size: 2.5rem,
  weight: 800,
  line: 1.1,
  spacing: -0.05rem,
  margin: 0.75rem,
  mobile-size: 2.25rem,
);
$h3-style: (
  family: $secondary-font-family,
  size: 2rem,
  weight: 700,
  line: 1,
  spacing: normal,
  margin: 0.75rem,
);
// Heading subtitles
$h4-style: (
  family: $primary-font-family,
  size: 1.75rem,
  weight: 700,
  line: 1,
  spacing: normal,
  margin: 1.5rem,
);
$h5-style: (
  family: $primary-font-family,
  size: 1.5rem,
  weight: 600,
  line: normal,
  spacing: normal,
  margin: 1.125rem,
);
$h6-style: (
  family: $primary-font-family,
  size: 1.5rem,
  weight: 600,
  line: normal,
  spacing: normal,
  margin: 1.125rem,
);
// Quote q
$quote-style: (
  family: $primary-font-family,
  size: 1.25rem,
  weight: 600,
  line: 1.1,
  spacing: normal,
  margin: 1.125rem,
);
// Paragraph p
$paragraph-style: (
  family: $primary-font-family,
  size: 1rem,
  weight: 400,
  line: normal,
  spacing: normal,
  margin: 0.875rem,
);
// Caption small
$small-style: (
  family: $secondary-font-family,
  size: 0.75rem,
  weight: 400,
  line: 1.1,
  spacing: normal,
  margin: 0.5rem,
);

// action
$action-size-default: 1rem;
$action-weight-default: 600;
$button-radius-default: 0.25rem;

$action-link-style-default: $gray-dark;
$action-button-style-default: (
  color: $white,
  background: $action-link-style-default,
);
$action-size: (
  small: 0.75rem,
  mid: 1.125rem,
  large: 1.25rem,
);
$action-style: primary $white $primary, secondary $white $secondary,
  dark $white $gray-darken, light $gray-darken $white,
  service $gray-middle-dark $gray-lighten;

// Z axis
$header-index: 50;
$modal-index: 100;

// Header
$header-height: 4rem;

// Section
$section-spacing-default: 2rem;
$section-spacing: (
  none: 0,
  small: 1rem,
  mid: 4rem,
  large: 6rem,
);
$section-height: (
  none: 0,
  quarter: 25,
  oneThird: 33.3333,
  half: 50,
  twoThird: 66.6666,
  full: 100,
);

// Reel

// Display
$display-mobile-min-width: 240px;
$display-tablet-min-width: 320px;

$display-gap-default: 1rem;
$display-card-shadow: 0 2px 8px transparentize(black, 0.75);

// Icons
$icon-size-default: 1rem;
$icon-size: (
  small: 0.75rem,
  mid: 1.5rem,
  large: 2rem,
);
$icon-style: (
  primary: $primary,
  secondary: $secondary,
  dark: $gray-darken,
  light: $white,
);

$icon-accordion-fold: "\e900";
$icon-accordion-unfold: "\e901";
$icon-action-add: "\e902";
$icon-action-circle-add: "\e903";
$icon-action-circle-clear: "\e904";
$icon-action-circle-filled-add: "\e905";
$icon-action-circle-filled-clear: "\e906";
$icon-action-circle-filled-info: "\e907";
$icon-action-circle-filled-remove: "\e908";
$icon-action-circle-filled-settings: "\e909";
$icon-action-circle-remove: "\e90a";
$icon-action-clear: "\e90b";
$icon-action-delete: "\e90c";
$icon-action-info: "\e90d";
$icon-action-remove: "\e90e";
$icon-alarm-add: "\e90f";
$icon-alarm-default: "\e910";
$icon-alarm-off: "\e911";
$icon-alarm-on: "\e912";
$icon-alert-circle-empty: "\e913";
$icon-alert-circle-full: "\e914";
$icon-alert-explosion: "\e915";
$icon-alert-hexagonal: "\e916";
$icon-alert-triangle: "\e917";
$icon-arrow-down: "\e918";
$icon-arrow-left: "\e919";
$icon-arrow-right: "\e91a";
$icon-arrow-up: "\e91b";
$icon-calendar-date: "\e91c";
$icon-calendar-default: "\e91d";
$icon-checkbox-checked: "\e91e";
$icon-checkbox-null: "\e91f";
$icon-checkbox-unchecked: "\e920";
$icon-dart-down: "\e921";
$icon-dart-left: "\e922";
$icon-dart-right: "\e923";
$icon-dart-up: "\e924";
$icon-display-float: "\e925";
$icon-display-full: "\e926";
$icon-interact-close: "\e927";
$icon-interact-delete: "\e928";
$icon-interact-done-all: "\e929";
$icon-interact-done: "\e92a";
$icon-interact-update: "\e92b";
$icon-map-location: "\e92c";
$icon-menu-hamburger: "\e92d";
$icon-menu-points-vertical: "\e92e";
$icon-menu-setting: "\e92f";
$icon-menu-points-horizontal: "\e930";
$icon-notification-disabled: "\e931";
$icon-notification-none: "\e932";
$icon-notification-notify: "\e933";
$icon-notification-ring: "\e934";
$icon-operation-download: "\e935";
$icon-operation-upload: "\e936";
$icon-organize-grid: "\e937";
$icon-organize-list: "\e938";
$icon-radio-checked: "\e939";
$icon-radio-unchecked: "\e93a";
$icon-star-empty: "\e93b";
$icon-star-full: "\e93c";
$icon-star-half: "\e93d";
$icon-triangle-down: "\e93e";
$icon-triangle-up: "\e93f";
$icon-user-add-group: "\e940";
$icon-user-add: "\e941";
$icon-user-defalut: "\e942";
$icon-user-group: "\e943";
$icon-visibility-hidden: "\e944";
$icon-visibility-visible: "\e945";
