.dropdown {
  color: inherit;
  background-color: inherit;
  position: relative;
  font-size: 0.875rem;
  padding: 0.375rem 0.5rem;
  column-gap: 0.375rem;

  &--button {
    color: inherit;
    display: inline-flex;
    font-size: inherit;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: relative;
    .icon {
      position: absolute;
      z-index: inherit;
      right: 0;
    }
  }
  &--list {
    font-weight: 600;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: inherit;
    transition: visibility 0s ease-out 0.23s, opacity 0.23s ease-out;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    display: flex;
    z-index: $dropdown-index;

    &.active {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.23s ease-in 25ms;
    }
  }
  &--item {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    opacity: 0.75;
    transition: all 0.23s ease-out;
    &:hover {
      opacity: 1;
      transition: all 0.23s ease-out;
      background-color: rgba(#fff, 0.15);
    }
  }
}
