.media {
  display: block;
  text-align: center;
  width: 100%;

  &--link {
    cursor: pointer;
  }

  &--image {
    height: auto;
  }
  @include mobileOnly {
    &--link {
      width: 100%;
      height: auto;
    }
    &--image {
      width: 100%;
      max-width: 100%;
    }
  }

  &--video {
    width: 100%;
    position: relative;
    padding-bottom: 75%;

    iframe {
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  &--background {
    background-size: cover;
    background-position: center;

    $x-positions: top, center, bottom;
    @each $pos in $x-positions {
      &.__#{$pos}_x {
        background-position-x: $pos;
      }
    }

    $y-positions: right, center, left;
    @each $pos in $y-positions {
      &.__#{$pos}_x {
        background-position-y: $pos;
      }
    }
  }

  &--background,
  &.__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: $media-index;
  }
}

#footerLogo .media--image {
  width: 30%;
}